@model IEnumerable<object>
@{
    List<EAD_Project.Model.Doctor> firstDoctor = Model.ToList()[0] as List<EAD_Project.Model.Doctor>;
    List<EAD_Project.Model.Area> firstArea = Model.ToList()[1] as List<EAD_Project.Model.Area>;
    List<EAD_Project.Model.Disease> firstDisease = Model.ToList()[2] as List<EAD_Project.Model.Disease>;
}

@{
    Layout = "~/Views/Shared/mylayout.cshtml";
}
<head>
<link rel="stylesheet" href="~/content/edit/style.css" />
<title>Edit_doctor</title>
</head>

<div class="content">
            <div class="heading">
                  
            </div>
    <!--DOCTOR-->
			<div class="form">
         
                    
                <form action="@Url.Action("update","Edit", new {id=@firstDoctor[0].Doctor_id})" method="post" enctype="multipart/form-data">
                    <div class="personal">
              
               <p>Personal information:</p>
                <label>Doctor Name</label>

                        <input type="text" name="name" placeholder="Name" value="@firstDoctor[0].Name" />

                <label>Contact Number</label>

                        <input type="tel" name="phone" value="@firstDoctor[0].Phone_num" placeholder="Phone" />
                       
            <label>City</label>

                         <input type="text" name="city" value="@firstDoctor[0].City" placeholder="city" required />
                    

                        <div class="radio">
                            <label>Male</label>
                            <input type="radio" name="male" value="male" class="male_radio" checked="checked" />
                         
                            <label>Female</label>
                            <input type="radio" name="female" value="female" />
                        </div>
                    </div>

                    <div class="professional">
                        <p>Professional Information: </p>
                        
                    <label>Experience</label>   

                         <input type="text" name="experience" placeholder="experience" value="@firstDoctor[0].Experience" />

                    <label>Specializaion</label> 

                        <input type="text" name="specialization" placeholder="specialization" value="@firstDoctor[0].Specialty" />

                    <label>Education</label>

                        <input type="text" name="education" placeholder="Education" value="@firstDoctor[0].Education" />


                    <p>Areas infromation And Schedule</p>

                        @{int c = 1;

                        }
                       
                    <!--AREASSSSS-->
                        @foreach (var ar in firstArea)
                        {
                            string area = "area" + c, fees = "fees"+c, day = "days" + c;
                         
                      <label>Area @c Name</label> 
                            
                          <input type="text" name='@area' placeholder="area1" value="@ar.Name"  />
                            
                        <label>Fees</label>
                            
                         <input type="text" name='@fees' placeholder="fees1" value="@ar.Fees"  />
                            
                        <label>Available Days</label>
                            
                         <input type="text" name='@day' placeholder="days1" value="@ar.days" />
                            
                       <p style="font-size:24px">Timings of Area @c</p>  
                            
                       <label>Opening time</label> 
                                   
                        <input type="time" name="start_time1" placeholder="Area1 Start time" value="@ar.Start_time" />
                            
                        <label>Closing time</label>
                                
                        <input type="time" name="end_time1" placeholder="Area1 End time" value="@ar.End_time" />
                            <br />
                      
                                c++;
                                    
                        }
                        <!--Diseases-->
                        <p>Diseases Cure</p>

                        @{int b = 1;

                        }

                        <!--AREASSSSS-->
                        @foreach (var ar in firstDisease)
                        {
                            string name = "name" + b;

                      <label>Disease</label>   
                            
                               <input type="text" name='@name' placeholder="name1" value="@ar.Disease_name" />
                            
                            
                           
                            b++;

                        }

                       
                    

                        <br />

                        <img style="width:300px; height:200px;" src="~/Content/Images/@firstDoctor[0].image" alt="Image not Available" />
                        <br />

                        <input type="file" name="image" />
                        <input type="submit" name="Update" value="Update" style="color:#136DA2" onclick="alert('Record updated');" />
                    </div>
                </form>
            </div>
</div>
